<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <div id="main" class="w-full h-screen flex items-center justify-center flex-col">
        <h1 class="font-semibold text-2xl text-center py-4">Login</h1>
        <form action="/login" method="post" class="mt-6 w-[350px]">
            <div class="flex flex-col mt-2">
                <label for="" class="font-medium text-sm">Email</label>
                <input type="text" placeholder="Enter Email" name="email" class="border border-black rounded px-3 py-2">
            </div>
            <div class="flex flex-col mt-2">
                <label for="" class="font-medium text-sm">Password</label>
                <input type="text" placeholder="Enter Mobile" name="password" class="border border-black rounded px-3 py-2">
            </div>
            <p class="error text-center w-full text-red-700 font-medium text-sm">Alert</p>
            <button class="bg-green-700 w-full rounded py-2 mt-4 font-medium text-white">Login</button>
            <div class="w-full flex flex-col items-center">
                <span>or</span>
                <a href="/login/federated/google" class="w-full py-2 px-5 text-center font-semibold bg-red-700 rounded text-white hover:bg-red-800">Google Login</a>
            </div>

            <a href="/register" class="font-medium text-sm">Register</a>
        </form>
    </div>
    <script>
        setTimeout(() => {
            document.querySelector(".error").textContent = ""
        }, 2000);
    </script>
</body>
</html>